
<table class="RightMenu_Details">

  <tr><th align="center"><p id="RightTitle">General Information</p></th></tr>

  <tr><th><%= nice_date(DateTime.now) %></th></tr>

  <tr><td>BIOISIS contains genes covering  different organisms.</td></tr>
  <tr><td>We currently have  structures.</td></tr>
  <tr><td></td></tr>
  <tr><td></td></tr>

</table>