
<table class="RightMenu_Details">

  <tr><th align="center"><p id="RightTitle">General Information</p></th></tr>

  <tr><th><%= nice_date(DateTime.now) %></th></tr>

  <tr><td>We currently have <%= Experiment.count %> deposits </td></tr>
  <tr><td>Hosting Scatter version <%= Scatter.last.nil? ? "-" : Scatter.last.version %></td></tr>
  <tr><td></td></tr>
  <tr><td></td></tr>

</table>