<ul>
  <li>Publications highlight interesting SAS papers</li>
  <li>Reviews note recent SAS review articles</li>
  <li>General Info contains is for SAS workshops, etc</li>
  <li>Updates to BioIsis</li>
</ul>
<p>If you have any suggestions for above, please email robert_p_rambo at hotmail dot com.</p>