// Place all the styles related to the Archive controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.file {
  position: relative;
  background: linear-gradient(to right, lightblue 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition:all 1s ease;
}
.file.done {
  background: lightgreen;
}
.file a {
  display: block;
  position: relative;
  padding: 5px;
  color: black;
}

h2.fileStatus {
  color:dimgray;
  font-weight: bold;
  font-size: 12pt;
}
.small_white_text {
  color: white;
  font-weight: bold;
  font: normal 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}




